$bgColorLateral: #2E546D;
$bgColorHeader: #738EA0;
$bgColorFooter: #4B6E84;


$fontColorTitle: black;
$fontColorContent: black;

$lineColor: #08283C;
$lineForm: 2px solid $lineColor;

$fontSizeTitle: 20px;
$fontWeightTitle:bolder;

$fontWeightRegular:400;
$fontSizeRegular:15px;